.ember-google-map {
  width: 100%;
  height: 500px;
}

.map-control {
  width: 15rem;
  background: #fff;
  padding: 1rem .5rem;
  text-align: center;
}

.map-control a {
  font-size: 1rem;
  padding: 0 .5rem;
}

.hotel-overlay {
  background: white;
  margin-top: -3.5rem;
  padding: .1rem 1rem .25rem;
}
