<GMap @lat="39.746674" @lng="-105.0009457" @zoom={{14}} @disableDefaultUI={{true}} as |map|>
  <map.control @position="TOP_CENTER">
    <div class="map-control" data-test-map-navigation>
      <LinkTo @route="index.hotels" data-test-link-home>Home</LinkTo> <LinkTo @route="index.city-center" data-test-link-citycenter>City Center</LinkTo>
    </div>
  </map.control>
  <map.outlet />
</GMap>